.review-item {
  width: 571px;
  border-radius: 8px;
  border: 1px solid #95a0a7;
  margin-bottom: 25px;
  padding: 8px;
  display: flex;
  
}
.review-details{
    flex-grow: 1;
}

.review-details p{
    margin: 0 15px;
}
.review-item img{
    width: 91px;
}
.btn-delete{
    height: 55px;
    width: 55px;
    background-color: rgba(235, 87, 87, 0.30);;
    border-radius: 50%;
    margin-top: 15px;
}
